<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
       
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
       
        <style>
            body {
                background-color: #343a40;
                color: #f8f9fa;
            }
            .nav-link {
                color: #f8f9fa;
            }
            .nav-link:hover {
                color: #adb5bd;
            }
            h1 {
                color: #f8f9fa;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 class="my-4">Inicio</h1>
            <ul class="nav flex-column">                
                <li class="nav-item"><a class="nav-link" th:href="@{/carpetas}">Carpetas</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/bolsas}">Bolsas</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/cajas}">Cajas</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/documentos}">Documentos</a></li>
            </ul>
        </div>